<!--
        GROUP DISPLAY FORM

     -->
     <div *ngIf="selected && !editMode" class="container">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8 form">
            <div class="container">
                <form name="groupForm">
                  <div class="flexme">
                      <button class="btn btn-sm btn-danger" (click)="this.editMode = true;">Edit Group</button>
                    </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">Name</label> <input type="text"
                        name="name" class="form-control" [ngModel]="selected.name"  disabled>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="form-group col-md-2">
                      <label for="id">Group ID</label> <input type="text"
                        name="id" class="form-control" [ngModel]="selected.id"  disabled>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="description">Description</label> <input
                        type="text" name="description" class="form-control" [ngModel]="selected.description"  disabled>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox"
                            name="active" [ngModel]="selected.active" disabled> <label
                            class="form-check-label" for="active">
                            Enabled? </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row flexme">
                            <div>
                              <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-primary btn-sm" name="groupUserList" ngbDropdownToggle>Group Members:</button>
                                <div ngbDropdownMenu aria-labelledby="groupUserList">
                                  <button  [routerLink]="['/users/' + u.id]" *ngFor="let u of selected.users" ngbDropdownItem>
                                      {{u.id}}: {{u.username}} - Active: {{u.active}}
                                  </button>
                                </div>
                              </div>
                            </div>
                        </div>
                        <br>
                        <div class="row flexme">
                            <div ngbDropdown class="d-inline-block">
                              <button class="btn btn-primary btn-sm" id="groupEventList" ngbDropdownToggle>Group Events:</button>
                              <div ngbDropdownMenu aria-labelledby="groupEventList">
                                <button [routerLink]="['/events/' + evt.id]" *ngFor="let evt of selected.evts" ngbDropdownItem>
                                    <button (click)="removeFromEvent(selected.id, evt.id)" class='redx'>X</button>
                                    {{evt.id}}: {{evt.name}} - Active: {{evt.active}}
                                </button>
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
    <!--
            GROUP EDIT FORM

         -->
    <div *ngIf="selected && editMode" class="container">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8 form">
            <div class="container">
                <form #GroupForm="ngForm">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">Name</label> <input type="text"
                        name="name" class="form-control" [ngModel]="selected.name" >
                    </div>
                    <div class="col-md-4"></div>
                    <div class="form-group col-md-2">
                      <label for="id">Group ID</label> <input type="text"
                        name="id" class="form-control" [ngModel]="selected.id" disabled>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="description">Description</label> <input
                        type="text" name="description" class="form-control" [ngModel]="selected.description" >
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox"
                            name="active" [ngModel]="selected.active"> <label
                            class="form-check-label" for="active">
                            Enabled? </label>
                        </div>
                      </div>
                      <button type="submit" (click)="editGroup(GroupForm)" class="btn btn-sm btn-primary">Save</button>
                      <br /> <br />
                      <button type="button" (click)="deleteGroup(selected.id)" class="btn btn-sm btn-danger">Delete Group</button>
                    </div>
                    <div class="col-md-8">
                        <div class="row flexme">
                            <div ngbDropdown class="d-inline-block">
                              <button class="btn btn-primary btn-sm" id="groupUserList" ngbDropdownToggle>Group Members:</button>
                              <div ngbDropdownMenu aria-labelledby="groupUserList">
                                <button  [routerLink]="['/users/' + u.id]" *ngFor="let u of selected.users" ngbDropdownItem>
                                    {{u.id}}: {{u.username}} - Active: {{u.active}}
                                </button>
                              </div>
                            </div>
                        </div>
                      <br />
                        <div class="row flexme">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-primary btn-sm" id="groupEventList" ngbDropdownToggle>Group Events:</button>
                                <div ngbDropdownMenu aria-labelledby="groupEventList">
                                  <button [routerLink]="['/events/' + evt.id]" *ngFor="let evt of selected.evts" ngbDropdownItem>
                                      <button (click)="removeFromEvent(selected.id, evt.id)" class='redx'>X</button>
                                      {{evt.id}}: {{evt.name}} - Active: {{evt.active}}
                                  </button>
                                </div>
                              </div>
                        </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>

        <div *ngIf="!selected && !editMode && !newGroup" class="container">
          <br>
          <h2 class="flexme">Groups</h2>
            <br>
            <table mdbTable class="z-depth-1">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Active?</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let group of groups" [routerLink]="['/groups/' + group.id]">
                  <th scope="row">{{group.id}}</th>
                  <td>{{group.name}}</td>
                  <td>{{group.description}}</td>
                  <td>{{group.active}}</td>
                </tr>
              </tbody>
            </table>
          </div>
