.form {
  border: thin black solid;
  padding: 30px;
  margin-top: 20px;
}


.flexme {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.redx {
	color:red;
	font-weight:bold;
}

table {
    text-align: center!important;
    border-collapse: collapse;
    display: table;
    border-spacing: 2px;
    border-color: grey;
    width: 100%;
}


.table thead th {
  border-bottom: 2px solid #dee2e6;
}

table th {
  font-size: .9rem;
  font-weight: bold;
}

table td {
  border-top: 1px solid #dee2e6;
}
