<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">Event Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <span id="Users" ngbDropdownToggle>Users</span>
              <div ngbDropdownMenu aria-labelledby="Users">
                <button [routerLink]="['/users']" ngbDropdownItem>All Users</button>
                <button [routerLink]="['/newuser']" ngbDropdownItem>New User</button>
              </div>
          </div>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <span id="Groups" ngbDropdownToggle>Groups</span>
              <div ngbDropdownMenu aria-labelledby="Groups">
                <button [routerLink]="['/groups']" ngbDropdownItem>All Groups</button>
                <button [routerLink]="['/newgroup']" ngbDropdownItem>New Group</button>
              </div>
          </div>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <span id="Events" ngbDropdownToggle>Events</span>
              <div ngbDropdownMenu aria-labelledby="Events">
                <button [routerLink]="['/events']" ngbDropdownItem>All Events</button>
                <button [routerLink]="['/newevent']" ngbDropdownItem>New Event</button>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
