<!--
        EVENT DISPLAY FORM

     -->
     <div *ngIf="selected && !editMode" class="container">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8 form">
            <div class="container">
                <form name="eventForm">
                  <div class="flexme">
                      <button class="btn btn-sm btn-danger" (click)="this.editMode = true;">Edit Event</button>
                    </div>
                  <div class="form-row">
                    <div class="form-event col-md-6">
                      <label for="name">Name</label> <input type="text"
                        name="name" class="form-control" [ngModel]="selected.name"  disabled>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="form-event col-md-2">
                      <label for="id">Event ID</label> <input type="text"
                        name="id" class="form-control" [ngModel]="selected.id"  disabled>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-event col-md-6">
                      <label for="description">Description</label> <input
                        type="text" name="description" class="form-control" [ngModel]="selected.description"  disabled>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-event col-md-6">
                      <label for="date">Event Date</label> <input
                        type="text" name="date" class="form-control" [ngModel]="selected.date" disabled>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-4">
                      <div class="form-event">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox"
                            name="active" [ngModel]="selected.active" disabled> <label
                            class="form-check-label" for="active">
                            Enabled? </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row flexme">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-primary btn-sm" id="eventGroupList" ngbDropdownToggle>Groups Attending:</button>
                                <div ngbDropdownMenu aria-labelledby="eventGroupList">
                                  <button [routerLink]="['/groups/' + g.id]" *ngFor="let g of selected.groups" ngbDropdownItem>
                                      {{g.id}}: {{g.name}} - Active: {{g.active}}
                                  </button>
                                </div>
                              </div>
                        </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
    <!--
            EVENT EDIT FORM

         -->
    <div *ngIf="selected && editMode" class="container">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8 form">
            <div class="container">
                <form #EventForm="ngForm">
                  <div class="form-row">
                    <div class="form-event col-md-6">
                      <label for="name">Name</label> <input type="text"
                        name="name" class="form-control" [ngModel]="selected.name" >
                    </div>
                    <div class="col-md-4"></div>
                    <div class="form-event col-md-2">
                      <label for="id">Event ID</label> <input type="text"
                        name="id" class="form-control" [ngModel]="selected.id" disabled>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-event col-md-6">
                      <label for="description">Description</label> <input
                        type="text" name="description" class="form-control" [ngModel]="selected.description" >
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-event col-md-6">
                      <label for="date">Event Date</label> <input
                        type="text" name="date" class="form-control" [ngModel]="selected.date">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4">
                      <div class="form-event">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox"
                            name="active" [ngModel]="selected.active"> <label
                            class="form-check-label" for="active">
                            Enabled? </label>
                        </div>
                      </div>
                      <button type="submit" (click)="editEvent(EventForm)" class="btn btn-sm btn-primary">Save</button>
                      <br /> <br />
                      <button type="button" (click)="deleteEvent(selected.id)" class="btn btn-sm btn-danger">Delete Event</button>
                    </div>
                    <div class="col-md-8">
                        <div class="row flexme">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-primary btn-sm" id="eventGroupList" ngbDropdownToggle>Groups Attending:</button>
                                <div ngbDropdownMenu aria-labelledby="eventGroupList">
                                  <button [routerLink]="['/groups/' + g.id]" *ngFor="let g of selected.groups" ngbDropdownItem>
                                      {{g.id}}: {{g.name}} - Active: {{g.active}}
                                  </button>
                                </div>
                              </div>
                        </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>

        <div *ngIf="!selected && !editMode" class="container">
            <br>
          <h2 class="flexme">Events</h2>
            <br>
            <input type="text" placeholder="filter" #listFilter (keyup)="0">
            <label id="clearSearch" for="listFilter" (click)="listFilter.value = ''">X</label>
            <br><br>
            <table mdbTable class="z-depth-1">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Date/Time</th>
                  <th>Active?</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of events | filterEvents:listFilter.value" [routerLink]="['/events/' + event.id]">
                  <th scope="row">{{event.id}}</th>
                  <td>{{event.name}}</td>
                  <td>{{event.description}}</td>
                  <td>{{event.date}}</td>
                  <td>{{event.active}}</td>
                </tr>
              </tbody>
            </table>
          </div>
