.tab-pane > .container{
	border: thin solid #62686b;
	padding:20px;
}

.row-content {
	margin-top: 50px;
}

.row-content > .col > .dropdown {
	margin-bottom: 30px;
}

.date-info {
    font-size: .5em;
    color: grey;
}

.flexme {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}